<h1>Crear nuevo grupo</h1>
<form action="/Grupo/CrearGrupo" method="post">
  <div>
    <label>Nombre: </label>
    <input type="text" name="nombreGrupo">
  </div>
  <div>
    <label>Numero Máximo de Estudiantes: </label>
    <input type="text" name="numeroMaximoEstudiantes">
  </div>
  <div>
    <label>Materia: </label>
    <input type="text" name="idMateria">
  </div>
  <button type="submit">Crear Grupo</button>
</form>
