<h1>Crear nueva materia</h1>
<form action="/Materia/CrearMateria" method="post">
  <div>
    <label>Nombre: </label>
    <input type="text" name="nombreMateria">
  </div>
  <div>
    <label>Tópico: </label>
    <input type="text" name="topicoMateria">
  </div>
  <button type="submit">Crear Materia</button>
</form>
<a href="/ListarMaterias">Atrás</a>
