<h1 class=".col-md-12">Bienvenido a la Aplicación de Cursos</h1>

<div class="row">
  <div class=".col-md-6">
    <span>Módulo Materias</span>
    <a href="/ListarMaterias">Materias</a>
  </div>
  <div class=".col-md-6">
    <span>Módulo Grupos</span>
    <a href="/ListarGrupos">Grupos</a>
  </div>
</div>
